:root {
    --yellow: #ffbc2f;
    --red: #d82727;
    --black: #1b1b1b;
    --titleFont: 'Yanone Kaffeesatz', Arial sans-serif;
}

@font-face {
    font-family: 'alegreya';
    src: url('../fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('../fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



* {
    box-sizing: border-box;
}

html, body {
    height: 100%
}

body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fcf5e6;
}

.wrapper {
    overflow: hidden;
    min-width: 1280px;
}

.hero {
    height: 100vh;
    min-height: 650px;
    background: url('../img/bg/hero.jpg') center center / cover no-repeat;
    position: relative;
    margin-bottom: 130px;
}

.header {
    min-width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 27px 0 100px;
}

.products__header {
    height: 180px;
    background: url('../img/bg/hero.jpg') center center / cover no-repeat;
    padding-top: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 90px;
}

.products__header:before {
    content: "";
    display: block;
    position: absolute;
    top: -17%;
    left: 17%;
    width: 65%;
    height: 172%;
    background: url('../img/decor/header-guys.png') center center /contain no-repeat;
}

.mail {
    text-decoration: none;
    text-align: center;
    color: inherit;

}

.mail__title {
    margin-bottom: 3px;
}

.mail__content {
    background: #212121;
    color: var(--yellow);
    padding: 5px 10px;
}

.hero__content {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 70%;
}

.sidebar {
    width: 75px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: width 0.3s;
}

.sidebar__menu {
    position: absolute;
    left: -400px;
    transition: left 0.3s;
}

.sidebar--opened .sidebar__menu {
    left: 0;
    width: 100%;
    text-align: center;
    transition-delay: 0.1s;
}

.sidebar--opened {
    width: 325px;
    padding: 0;
    transition: width 0.3s;
}

.sidebar--opened .sidebar__header {
    display: flex;
}

.sidebar__hamburger-icon {
    width: 29px;
    height: 29px;
    fill: var(--yellow)
}

.sidebar__hamburger {
    display: block;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar--opened .sidebar__hamburger {
    display: none;
}

.side__menu-list {
    text-align: center;
}

.sidebar__header {
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
}

.sidebar__close {
    position: relative;
    top: -4px;
    right: -30px;
}

.sidebar__close-icon {
    width: 29px;
    height: 29px;
    fill: var(--yellow)
}

.side__menu-item {
    margin-bottom: 20px;
}

.side__menu-link {
    font-size: 20px;
    color: var(--yellow);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--tileFont);
}

.side__menu-link:hover {
    color: var(--red)
}

.fade-slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.fade-slider__item {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.fade-slider__text--header {
    top: 19%;
    left: 28%;
}

.fade-slider__item--visible {
    opacity: 1;
}

.fade-slider__item--style-thirts {
    background: url('../img/content/hero/slider_pic_1.png') center center / contain no-repeat;
}

.fade-slider__item--style-games {
    background: url('../img/content/hero/slider_pic_2.png') center center / contain no-repeat;
}

.fade-slider__item--style-presents {
    background: url('../img/content/hero/slider_pic_3.png') center center / contain no-repeat;
}

.fade-slider__text {
    position: absolute;
}

.fade-slider__item--style-thirts .fade-slider__text {
    left: 50%;
    top: 50%;
    transform: translate(-130%, -52%);
}

.fade-slider__item--style-games .fade-slider__text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 75%);
}

.fade-slider__item--style-presents .fade-slider__text {
    left: 50%;
    top: 50%;
    transform: translate(-100%, 45%);
}

.fade-slider__item--style-games .lined-text,
.fade-slider__item--style-presents .lined-text
{
    align-items: center;
}

.lined-text {
    font-family: 'alegreya', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 63px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lined-text--reduced {
    font-size: 24px;
}

.lined-text__word {
    background: #000;
    padding: 0 17px 8px;
    margin-top: -7px;
    white-space: nowrap;
}

.lined-text__word-yellow {
    color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
    margin-left: 8px;
}

.container {
    margin: 0 auto;
    width: 1310px; 
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.filter__item {
    margin-right: 40px;
}

.filter__item:last-child {
    margin-right: 0;
}

.filter__link {
    font-family: var(--titleFont);
    text-transform: uppercase;
    padding: 3px 21px;
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

.filter__link:hover {
    color: var(--red);
}

.filter__item--active .filter__link {
    color: var(--yellow);
    background: var(--black);
}

.products {
    margin-bottom: 160px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -27px;
}

.products__item {
    width: 302px;
    height: 386px;
    background: var(--yellow);
    margin-bottom: 35px;
    margin-left: 27px;
    position: relative;
}

.products__price {
    position: absolute;
    top: 18px;
    left: -6px;
    width: 126px;
    border-bottom: 45px solid #232323;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-181deg);
}

.products__price-amount {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--titleFont);
    color: #fff;
    transform: rotate(181deg);
    position: absolute;
    top: 2px;
    right: 25px;
}

.products__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    overflow: hidden;
}

.products__content:hover .product__desc {
    transform: translateY(0);
}

.product__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35, 35, 35, .8);
    font-size: 15px;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .3s;
}

.product__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.product__desc-text {
    text-align: center;
    margin-bottom: 18px;
}

.btn {
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-size: 24px;
    padding: 2px 30px;
    background: var(--black);
    color: var(--yellow);
    display: inline-block;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background: var(--red);
    color: #fff;
}

.products__item--color-black {
    background: #232323;
}

.products__item--color-black .products__price {
    border-bottom-color: var(--yellow);
}

.products__item--color-black .products__price-amount {
    color: #212121;
}

.products__item--size-double {
    width: 629px;
    height: 544px;
}

.collections__list {
    display: flex;
}

.collections {
    margin-bottom: 135px;
}

.collections__item {
    min-height: 474px;
    flex: 1;
    overflow: hidden;
    margin-right: 30px;
    background: url('../img/bg/pattern.png') center center / 500px;
    position: relative;
}

.collections__item:before {
    content: '';
    display: block;
    position: absolute;
    top: -17%;
    left: -18%;
    height: 176%;
    width: 60%;
    background: center center / contain no-repeat;
    transition: transform 0.3s;
}

.collections__item--type-men:before {
    background-image: url('../img/collections/collection_man.png');
    
}

.collections__item--type-women:before {
    background-image: url('../img/collections/collection_woman.png');
    top: -31%;
    left: -25%;
    width: 80%;
}

.collentions__link {
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    height: 100%;
    position: relative;
}

.collections__item:hover:before {
    transform: scale(1.1, 1.1);
}

.collentions__link:hover .btn {
    background: var(--red);
    color: #fff
}

.collections__title {
    font-family: var(--titleFont);
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}

.collections__item:last-child {
    margin-right: 0;
}

.collections__desc {
    margin-bottom: 28px;
}

.footer {
    margin-bottom: 115px;
}

.footer__container {
    width: 1105px;
}

.site-menu {
    margin-bottom: 120px;
}

.site-menu__section {
    display: flex;
    justify-content: space-between;
}

.site-menu__col {
    margin-right: 20px;
}

.site-menu__col:last-child {
    margin-right: 0;
}

.site-menu__title {
    font-family: var(--titleFont);
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.site-menu__item {
    margin-bottom: 15px;
}

.site-menu__link {
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

.site-menu__link:hover {
    color: var(--red);
}

.site-menu__text {
    font-size: 15px;
    color: var(--black);
    margin-bottom: 30px;
}

.site-menu__text-row {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.extras {
    display: flex;
    margin-bottom: 95px;
}

.extras__col {
    margin-right: 20px;
    flex: 1;
}

.extras__col:last-child {
    margin-right: 0;
}

.extras__best {
    text-align: center;
    color:#fff;
    background: #232323;
    font-size: 50px;
    font-weight: bold;
    font-family: var(--titleFont);
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
}

.extras__col-socials {
    background: url('../img/bg/pattern.png') center center / 500px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
}

.socials__item {
    margin-right: 50px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    width: 38px;
    height: 38px;
    display: block;
}

.socials__link:hover .socials__icon {
    fill: var(--red);
}

.socials__icon {
    width: 100%;
    height: 100%;
    transition: fill 0.3s;
}

.container__products {
    margin-bottom: 95px;
}

.tsherts-choice {
    width: 1102px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffc92f;
    display: flex;
}

.tshirt__desc {
    background: #fcf5e6;
    width: 100%;
}

.tshirt__desc > div {
    padding-left: 30px;
}

.tsherts-options__info {
    padding-top: 30px;
    margin-bottom: 30px;
}

.tsherts-opcions__brand {
    font-size: 17px;
    font-weight: bold;
    color: #ffc92f;
}

.tsherts-opcions__name,
.tsherts-opcions__price--amound
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 47px;
    font-weight: bold;
    text-transform: uppercase;
}

.tsherts-opcions__price {
    background-color: #ffc92f;
    padding: 6px 17px;
    display: inline-block;
    line-height: 1;
}

.tsherts-opcions__price--amound {
    font-size: 37px;
    text-align: center;
}

.tsherts-opcions__about {
    padding: 30px 0;
    border-top: 1px solid #ded8c8;
    border-bottom: 1px solid #ded8c8;
    margin-bottom: 28px;
}

.tsherts-opcions__item {
    font-size: 12px;
    padding: 5px 25px;
}

.tsherts-choice__size-list {
    margin-bottom: 28px;
}

.tsherts-choice__size {
    display: flex;
}

.size__btn {
    width: 50px;
    height: 50px;
    margin-left: 7px;
}

.size__btn:first-child {
    margin-left: 0;
}

.size__btn input,
.color__btn input
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.size__btn input:checked + label {
    background-color: #ffc92f;
    border-color:  #ffc92f;
}

.size__btn input:disabled + label {
    color: #cac3b3;
    cursor: default;
}

.size__btn-radio {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #e4ddcc;
    text-transform: uppercase;
}

.tsherts-choice__color {
    margin-bottom: 35px;
}

.tshirt-choice__color__list {
    display: flex;
}

.color__btn {
    margin-left: 20px;
}

.color__btn input:checked + label:before{
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 50%;
    border: 3px solid #ffcf48;
}

.color__btn:first-child {
    margin-left: 0;
}

.color__btn-radio {
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.color__btn-radio--black {
    background-color: #2f2c25;
}

.color__btn-radio--white {
    background-color: #fcf5e6;
    border: 1px solid #e0d9c8
}

.color__btn-radio--green {
    background-color: #529029;
}

.color__btn-radio--blue {
    background-color: #39498d;
}

.color__btn-radio--red {
    background-color: #d82727;
}

.tsherts-choice__btn {
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 13px 68px;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 2px;
}


.container__info {
    max-width: 1100px;
}

.info {
    margin-bottom: 85px;
}

.tabs {
    border: 10px solid var(--yellow);
}


.tab__item {
    display: none;
    width: 100%;
    margin: 0 auto;
    transform: scale(0, 0);
}

.tab__item--active {
    transform: scale(1, 1);
    transition: transform 0.3s;
    transition-delay: 0.1s;
    display: block;
}

.description__wrapper {
    display: flex;
}

.description__list {
    width: 51%;
    padding: 46px 0px 40px 35px;
    border-right: 1px solid #ddd7c7;
}

.description__item {
    display: flex;
    align-items: center;
}

.description__icon {
    width: 25px;
    height: 18px;
    margin-right: 25px;
}

.description__text {
    font-size: 13px;
    display: block;
}

.descr__text {
    font-size: 13px;
    padding: 45px 90px 0 45px;
    line-height: 1.42;
}

.tab__item__sizes {
    display: flex;
    width: 100%;
}

.tab__item__instruction {
    padding: 40px 21px;
}

.instruction__list {
    padding: 0 auto;
    margin-top: 25px;
}

.instruction__item {
    line-height: 2;
    font-size: 12px;
}

.table-sizes {
	font-size: 14px;
	width: 70%;
	border-collapse: collapse;
}

.table-sizes:last-child tbody tr:last-child td {
	border-bottom: none;
}

.table-sizes thead {
    vertical-align: middle;
	background: #f6efe0;
}

.table-sizes thead th:first-child {
	text-align: left;
}

.table-sizes thead th {
	border-top: none;
}

.table-sizes th, 
.table-sizes td {
	border: 1px solid #e0d9c8;
}

.table-sizes th {
	padding: 20px;
}

.table-sizes td {
	padding: 17px;
}

.delivery__wrapper {
    display: flex;
}

.delivery__content {
    width: 53%;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ddd7c7;
}

.delivery__terms, 
.about__text {
    line-height: 1.42;
    font-size: 14px;
    padding: 65px 45px;
}

.about__wrapper {
    display: flex;
}

.about__content {
    padding: 88px 55px 0;
    border-right: 1px solid #ddd7c7;
}

.about__img {
    max-width: 100%;
    max-width: 100%;
}



